.dashBoard{
    width: 100%;
    height: calc(100% - 45px);
    padding-top: 15px;
    display: flex;
    background: #3e3e3e;
}

.dashBoard .left {
    width: calc(100% - 30%);
    overflow-y: scroll;
    transition: all 0.3s cubic-bezier(0.17, 0.81, 0.38, 1.39 );
}

.dashBoard .left ::-webkit-scrollbar {
    display:none;
}

.dashBoard .left .banner {
    height: 260px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.dashBoard .left .banner .textContainer {
    position: aboslute;
    right: 20px;
    bottom: 20px;
}

.dashBoard .left .banner .textContainer h1 {
    font-size: 3.5em;
    color: grey;
    font-weight: 700;
    margin: 5px 0;
}

.dashBoard .left .banner .textContainer h2 {
    font-size: 2.5em;
    color: red;
    margin: 5px 0;
}

.dashBoard .left .banner .textContainer p {
    color: white;
    font-size: 18px;
    margin: 5px 0;
}

.dashBoard .left .banner .textContainer .clock p {
    margin-left: 10px;
}