.App {
  width: 100%;
  min-height: 100vh;
  background: #3e3e3e; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Menu {
  display: inline-block;
}

.Main {
  display:inline-block;
  padding-left: .5em;
}

